:root {
  --primary-color: #fff;
  --secondary-color: #f3f3f3;
  --action-color-one: #000;
  --action-color-two: #f3f3f3;

  --background-body: #fff;
  --background: rgba(0,0,0, 0.1);
  --background-alt: #0b0b0b;

  --selection: rgba(0,0,0, 0.1);

  --text-main: #000;
  --text-bright: #000;
  --text-muted: #444;

  --links: inherit;

  --focus: rgba(0,0,0, 0.2);

  --border: rgba(0,0,0, 0.05);

  --code: var(--text-bright);

  --animation-duration: 0.2s;

  --button-base: transparent;
  --button-hover: rgba(0,0,0, 0.1);
  --button-border: #888;

  /*--scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%));*/
  --form-placeholder: #a9a9a9;
  --form-text: #000;

  --variable: #d941e2;

  --highlight: #efdb43;
  
  --select-arrow: svg-load('../assets/select-arrow.svg', fill: #efefef);
}
